<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo-big.ico" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="~/css/Problem.css" />
    <link rel="stylesheet" href="~/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="~/bootstrap-3.3.7-dist/js/npm.js"></script>
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.css" />
    <script src="~/js/JavaScript.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="padding-top:0px; ">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="/" data-toggle="tooltip" title="" data-original-title="返回首页">
                <img src="~/img/logo-big.ico" alt="一起帮Logo" class="pull-left" />
            </a>
            <p class="navbar-text pull-left">
                <span style="font-size:18px; font-weight:600;">一起帮</span>
                <span class="visible-md-inline visible-lg-inline">· 网络互助平台</span>
            </p>
            <a href="/Message/Mine" class="navbar-text pull-left" style="font-size:18px; margin-left:10px;">
                <span class="fa fa-bell  pull-left hide" style="color: darkblue;" zyf-bell=""></span>
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-question-circle"></span> 求助</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">督导班</li>
                            <li><a href="/Course/Confusion/New"><span class="fa fa-eye"></span> 督导班</a> </li>
                            <li><a href="/Problem?excludeCanceled=true&amp;excludeRewarded=true"><span class="fa fa-list"></span> 列表</a> </li>
                            <li><a href="/Course/Confusion/New"><span class="fa fa-edit"></span> 疑问发布</a> </li>
                            <li><a href="/Course/Confusion"><span class="fa fa-list"></span> 疑问列表</a> </li>
                            <li class="divider"></li>
                            <li><a href="/Problem?excludeCanceled=true&amp;excludeRewarded=true"><span class="fa fa-list"></span> 列表</a> </li>
                            <li><a href="/Problems/New"><span class="fa fa-edit"></span> 发布</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span zyf-ducu-notices="" class="fa fa-eye"></span> 督促</a>
                        <ul class="dropdown-menu" role="menu" zyf-navigator-ducu="">
                            <li><a href="/Plan/New"><span class="fa fa-edit fa-fw"></span> 求督促</a></li>
                            <li><a href="/Plan"><span class="fa fa-gavel fa-fw"></span> 督促别人</a></li>
                            <li><a href="/Plan?my=f&amp;full=False&amp;due=False&amp;expire=False&amp;Frozen=False"><span class="fa fa-list fa-fw"></span> 我的目标</a></li>
                            <li><a href="/Plan?my=s&amp;full=False&amp;due=False&amp;expire=True&amp;Frozen=False"><span class="fa fa-list fa-fw"></span> 我的督促</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Article" class="dropdown-toggle" data-toggle="dropdown"><span class="iconfont icon-articles"></span> 文章</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Article"><span class="fa fa-list fa-fw"></span> 列表</a> </li>
                        </ul>
                    </li>
                    @if (@ViewData["UserName"] == null)
                    {
                        <li class="dropdown">
                            <a class="text-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <span class="text-muted"><span class="fa fa-user-secret"></span><span> 未登录</span></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Log/On?pagepth=@Context.Request.Path"><span class="fa fa-sign-in"></span> 登录</a></li>
                                <li><a href="/Register"><span class="fa fa-registered"></span> 注册</a></li>
                                <li><a href="/Password/Forget"><span class="fa fa-lock"></span> 忘记密码</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="text-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                <span class="text-primary">
                                    <span class="fa fa-user-circle-o">
                                    </span>
                                    <span zyf-current-username="">
                                        @ViewData["UserName"]
                                    </span>
                                </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li class="text-warning"><a href=""><span class="fa fa-list fa-fw"></span> 新手任务</a></li>
                                <li><a href="/User/Single"><span class="fa fa-home fa-fw"></span> 我的主页</a></li>
                                <li class="divider"></li>
                                <li data-toggle="tooltip" title="" data-original-title="明天00点00分更新">
                                    <a href="/FAQ/Bean">
                                        <span class="bean">
                                            <strong class="iconfont icon-beans">
                                            </strong>
                                            帮帮豆
                                        </span>
                                        ：
                                        <span zyf-nav-current-ballots="">
                                            2
                                        </span>
                                        颗
                                    </a>
                                </li>
                                <li>
                                    <a href="/Credit">
                                        <span class="water">
                                            <span class="iconfont icon-drips"></span>
                                            帮帮点
                                        </span>
                                        ：<span zyf-nav-current-credit="">44</span> 点 ②
                                    </a>
                                </li>
                                <li>
                                    <a href="/Money/Owner">
                                        <span class="credit">
                                            <span class="iconfont icon-money"></span>
                                            帮帮币
                                        </span>
                                        ：<span>5</span> 枚
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    <span class="fa fa-pencil-square-o"></span>
                                    修改
                                </li>
                                <li>
                                    <a href="/Password/ForGet">
                                        <span class="fa fa-lock fa-fw"></span>
                                        我的密码
                                    </a>
                                </li>
                                <li>
                                    <a href="/Contact/Edit">
                                        <span class="fa fa-envelope fa-fw"></span> 联系方式
                                    </a>
                                </li>
                                <li>
                                    <a href="/Profile/Write">
                                        <span class="fa fa-camera fa-fw"></span> 个人资料
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/Log/Off">
                                        <span class="fa fa-sign-out"></span> 退出登录
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tachometer"></span> 后台<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-bottom-fix" role="menu">
                                <li><a href="/Invite"><span class="fa fa-user-plus fa-fw"></span> 邀请注册</a> </li>
                                <li><a href="/Message/Mine"><span class="fa fa-bell fa-fw"></span> 我的消息</a> </li>
                                <li><a href="/Draft"><span class="fa fa-file-o fa-fw"></span> 我的草稿</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">广告推广</li>
                                <li><a href="/AdInContact/Write?prepage=%2fArticle%2f568"><span class="fa fa-link"></span> 联系方式</a></li>
                                <li><a href="/AdInWidget/Write?prepage=%2fArticle%2f568"><span class="fa fa-link"></span> 侧边栏</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">帮帮币</li>
                                <li><a href="/MoneyTrade/Market?prepage=%2fArticle%2f568"><b class="iconfont icon-shopping-cart-buy"></b> 购买</a></li>
                                <li><a href="/MoneyTrade/Sale?prepage=%2fArticle%2f568"><b class="iconfont icon-shopping-cart-sell"></b> 出售</a></li>
                                <li><a href="/MoneyTrade/BuyList"><span class="fa fa-list"></span> 已购买</a></li>
                                <li><a href="/MoneyTrade/SaleList"><span class="fa fa-list"></span> 已出售</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div zyf-user-message="" class="container visible-md visible-lg top-user-message">
        <a href="/Message/Index" class="pull-right"><span class="fa fa-hand-o-right"></span> 全部消息</a>
        <div>
            <span class="fa fa-calendar" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="2020年02月01日 15点32分"></span>
            很抱歉，
            <span data-toggle="tooltip" title="" data-original-title="">
                <a href="/User/4335" zyf-show-contact="4335" style="color:cornflowerblue">
                    喵了个咪
                </a>
            </span>
            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                <span>②</span>
            </a>在2020年02月01日 15点32分左右对文章<a class="text-info" href="http://17bang.ren/Article/591">2020年春节随想：内容还是营销？</a>的“赞”未能成功完成。如果有必要的话，你可以重新操作。
        </div>
    </div>
    @RenderBody()
</body>
</html>