@page
@model RazorPage.HistorysModel
@{
    ViewData["Title"] = "History";
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@section Description{

}
<h2>Historys:@PageContext.RouteData.Values["i"]</h2>
<h2>Historys:@PageContext.RouteData.Values["j"]</h2>
<h2>Historys:@PageContext.RouteData.Values["k"]</h2>


