<div zyf-widget-content="" class="clearfix" style="margin-bottom:30px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified nav-tabs-colored" role="tablist">
        <li role="presentation">
            <a href="#planscan" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="fa fa-eye"></span> 每日督促
            </a>
        </li>
        <li role="presentation" class="active">
            <a href="#contribute" aria-controls="messages" role="tab" data-toggle="tab" style="color:red;">
                <span class="fa fa-heart"></span> 排行榜
            </a>
        </li>
        <li role="presentation">
            <a href="#register" aria-controls="home" role="tab" data-toggle="tab">
                <span class="fa fa-user-circle-o"></span> 新注册
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="planscan">
            <table class="table-none-border">
                <tbody>
                    <tr>
                        <td colspan="2" style="font-size:18px"><span class="fa fa-calendar-check-o fa-fw"></span> 2020年02月28日</td>
                    </tr>
                    <tr>
                        <th>共扫描目标：</th>
                        <td><span class="fa fa-flag-o fa-fw"></span> 1 个</td>
                    </tr>
                    <tr>
                        <th>当天休息：</th>
                        <td><span class="fa fa-ban fa-fw text-muted"></span> 0 人</td>
                    </tr>
                    <tr>
                        <th>已交作业：</th>
                        <td><span class="fa fa-check text-success fa-fw"></span> 0 份</td>
                    </tr>
                    <tr>
                        <th>请假：</th>
                        <td><span class="fa fa-coffee fa-fw"></span>  0 人</td>
                    </tr>
                    <tr>
                        <th>未交作业：</th>
                        <td><a zyf-task-not-complete=""><span class="fa fa-remove fa-fw"></span> 1 人</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane active" id="contribute">
            <table class="table-none-border order-list">
                <tbody>

                    <tr zyf-user-most-order="1">
                        <td style="width: 40px;"><span class="order-tag item-1">1</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="捐赠 5">
                                <a href="/User/1" zyf-show-contact="1" style="color:#DCB962">
                                    叶飞
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="大宗师">
                                <span>⑩</span>
                            </a>
                        </td>
                        <td>45</td>
                    </tr>
                    <tr zyf-user-most-order="2">
                        <td style="width: 40px;"><span class="order-tag item-2">2</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4362" zyf-show-contact="4362">
                                    we11ness
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                <span>②</span>
                            </a>
                        </td>
                        <td>42</td>
                    </tr>
                    <tr zyf-user-most-order="3">
                        <td style="width: 40px;"><span class="order-tag item-3">3</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4335" zyf-show-contact="4335">
                                    喵了个咪
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级教师">
                                <span>④</span>
                            </a>
                        </td>
                        <td>30</td>
                    </tr>
                    <tr zyf-user-most-order="4">
                        <td style="width: 40px;"><span class="order-tag item">4</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4360" zyf-show-contact="4360">
                                    wangwei465
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </td>
                        <td>30</td>
                    </tr>
                    <tr zyf-user-most-order="5">
                        <td style="width: 40px;"><span class="order-tag item">5</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4274" zyf-show-contact="4274">
                                    qwe123
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </td>
                        <td>17</td>
                    </tr>
                    <tr zyf-user-most-order="6">
                        <td style="width: 40px;"><span class="order-tag item">6</span></td>
                        <td>


                            <span data-toggle="tooltip" title="" data-original-title="捐赠 98">
                                <a href="/User/537" zyf-show-contact="537" style="color:#DCB962">
                                    陈百万
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="高级教师">
                                <span>⑥</span>
                            </a>
                        </td>
                        <td>13</td>
                    </tr>
                    <tr zyf-user-most-order="7">
                        <td style="width: 40px;"><span class="order-tag item">7</span></td>
                        <td>
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4363" zyf-show-contact="4363">
                                    伏流
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </td>
                        <td>10</td>
                    </tr>
                    <tr zyf-user-most-order="8">
                        <td style="width: 40px;"><span class="order-tag item">8</span></td>
                        <td>


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <a href="/User/4361" zyf-show-contact="4361">
                                    Lucida
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
            <div zyf-user-widget-most-contribute="" class="clearfix" style="padding-top:10px;">
                <a href="/User/MyMost?on=Contribute" class="btn pull-right">
                    <span class="fa fa-hand-o-right"></span> 我的排名
                </a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="register">
            <div style="margin-bottom:10px;">
                <small class="text-muted">
                    <span>
                        <span class="fa fa-calendar"></span> <span> 2020年02月28日 22点57分</span>
                    </span>
                </small>
                <div>
                    <span data-toggle="tooltip" title="">
                        <a href="/User/4363" zyf-show-contact="4363">
                            伏流
                        </a>
                    </span>
                    <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                        <span>①</span>
                    </a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div style="margin-bottom:10px;">
                <small class="text-muted">
                    <span>
                        <span class="fa fa-calendar"></span> <span> 2020年02月27日 13点06分</span>
                    </span>
                </small>
                <div>
                    <span data-toggle="tooltip" title="">
                        <a href="/User/4362" zyf-show-contact="4362">
                            we11ness
                        </a>
                    </span>
                    <a href="/FAQ/Credit#" data-toggle="tooltip" title="中级学徒" class="text-muted" style="position:relative; top:-1px;">
                        <span>②</span>
                    </a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div style="margin-bottom:10px;">
                <small class="text-muted">
                    <span>
                        <span class="fa fa-calendar"></span> <span> 2020年02月23日 14点03分</span>
                    </span>
                </small>
                <div>
                    <span data-toggle="tooltip" title="">
                        <a href="/User/4361" zyf-show-contact="4361">
                            Lucida
                        </a>
                    </span>
                    <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                        <span>①</span>
                    </a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div style="margin-bottom:10px;">
                <small class="text-muted">
                    <span>
                        <span class="fa fa-calendar"></span> <span> 2020年02月22日 13点38分</span>
                    </span>
                </small>
                <div>
                    <span data-toggle="tooltip" title="">
                        <a href="/User/4360" zyf-show-contact="4360">
                            wangwei465
                        </a>
                    </span>
                    <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                        <span>①</span>
                    </a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div style="margin-bottom:10px;">
                <small class="text-muted">
                    <span>
                        <span class="fa fa-calendar"></span> <span> 2020年02月20日 21点57分</span>
                    </span>
                </small>
                <div>
                    <span data-toggle="tooltip" title="">
                        <a href="/User/4359" zyf-show-contact="4359">
                            brucewu
                        </a>
                    </span>
                    <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                        <span>①</span>
                    </a>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="clearfix">
                <a href="/User/Index" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 更多</a>
            </div>
        </div>
    </div>
</div>