<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>一起帮·源栈欢迎您</header>
    @RenderBody()
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.ico" />
    <footer>大神小班……</footer>
</body>
</html>