@*@model RazorPage._AdvertisingModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div zyf-widget-content="" class="widget clearfix">
    <div class="ad-in-widget order-list">
        <span class="item-1 order-tag">1</span>
        <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
    </div>
    <div class="ad-in-widget order-list">
        <span class="item-2 order-tag">2</span>
        <a href="/AdInWidget/_Free?position=2" zyf-adinwidget-free="" class="">免费广告位，抢到就是赚到！</a>
    </div>
    <div class="ad-in-widget order-list">
        <span class="item-3 order-tag">3</span>
        <a href="/AdInWidget/_Free?position=3" zyf-adinwidget-free="" class="">免费广告位，抢到就是赚到！</a>
    </div>
    <div class="ad-in-widget order-list">
        <span class="item order-tag">4</span>
        <a href="/AdInWidget/_Free?position=4" zyf-adinwidget-free="" class="">免费广告位，抢到就是赚到！</a>
    </div>
    <div class="ad-in-widget order-list">
        <span class="item order-tag">5</span>
        <a href="/AdInWidget/_Free?position=5" zyf-adinwidget-free="" class="">免费广告位，抢到就是赚到！</a>
    </div>
    <div class="ad-in-widget order-list">
        <span class="item order-tag">6</span> 本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码</a>提供
    </div>
    <a href="/AdInWidget/Write" class="pull-right text-muted">
        <small zyf-ad-in-widget-remind="">
            <span class="fa fa-buysellads"></span> 广告
            <span zyf-ad-in-widget-remind-suffix="" class="hide">，你也可以发布哟！</span>
        </small>
    </a>
</div>
