@*@model RazorPage._ArticleModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div zyf-widget-content="" class="widget clearfix">
    <div style="font-size:24px;"><span class="iconfont icon-articles"></span> 精品文章</div>
    <hr>
    <div style="margin-bottom:10px;">
        <div>
            <span class="iconfont icon-article"></span> <a href="/Article/588">源栈培训：MVC：文件上传</a>
        </div>
    </div>
    <div style="margin-bottom:10px;">
        <div>
            <span class="iconfont icon-article"></span> <a href="/Article/584">源栈培训：持久化：ADO.NET-3：DataSet和DataAdapter</a>
        </div>
    </div>
    <div style="margin-bottom:10px;">
        <div>
            <span class="iconfont icon-article"></span> <a href="/Article/583">源栈培训：持久化：ADO.NET-2：DBHelper和Repository</a>
        </div>
    </div>
    <div style="margin-bottom:10px;">
        <div>
            <span class="iconfont icon-article"></span> <a href="/Article/581">源栈培训：功能-消息机制</a>
        </div>
    </div>
    <div style="margin-bottom:10px;">
        <div>
            <span class="iconfont icon-article"></span> <a href="/Article/580">毕业之后二三事</a>
        </div>
    </div>
    <a href="/Article" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 更多</a>
</div>
