.navbar-fixed-top, .navbar-fixed-bottom {
    right: 0;
    left: 0;
    z-index: 1030;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.open > .dropdown-menu {
    display: block;
}