body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.widget {
    border: 1px dashed #eee;
    padding: 15px;
    margin-bottom: 30px;
    word-break: break-all;
    background-color: #fff;
}

.order-list .order-tag {
    width: 18px;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;
}

.ad-in-widget {
    margin: 8px 0;
}
