@page
<html>
<head>
    <script src="~/js/JavaScript.js"></script>
    <script>
        //Sum(3, 4, 20);
        //bubbleSort();
        ////findPrime(10);
        //getMaxNumber(-3, -10, null, "飞哥", true, "123gg");
        //yuangzhan();
        //daleteEcho([1, 2, 3, 3, 2, 5, 7, 7, 7]);
        ////swap([1, 2, 3, 4, 5], 0, 4);
        //alphabetic();
        //standard()
        //getRandomArray(3, 4);
        //reverse();
        //strAdd();

    </script>
</head>
<body>

</body>
</html>