@page
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <title>常见问题</title>

</head>
<body>
    <h1>常见问题</h1><hr />
    <h2 style="color:blue">账户</h2>
    <p>
        Q:邀请码是怎么一回事？<br />

        Q：为什么会提示“邀请人数达到上限”？<br />

        Q：系统如何是确定“最后（上次）登录时间”的？<br />

        Q：“最后登录时间”有什么用处？<br />

        Q：邮箱有什么作用？<br />

        Q：为什么我收不到邮件通知？<br />

    </p>
    <h2 style="color:blue">帮帮点</h2>
    <p>
        Q：什么是帮帮点？有什么用处？<br />

        Q：如何才能获得帮帮点？<br />
    </p>
    <h2 style="color:blue">表格</h2>
    <p>

        一句话：尽可能的多的参加下社区活动。<br />

        目前的奖励政策如下表所示：<br />
    </p>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>社区活动</th>
                <th>点数</th>
                <th>备注</th>

            </tr>
        </thead>
        <tbody>
            <tr bgcolor="pink">
                <td colspan="3" class="subtitle">*账号相关</td>
            </tr>
            <tr>
                <td rowspan="2">
                    <p>注册</p>
                    <p>邀请注册</p>
                </td>
                <td>10</td>
                <td>使用了别人的邀请码</td>
            </tr>
            <tr>

                <td>10</td>
                <td>别人使用了你的邀请码完成注册</td>
            </tr>
            <tr>
                <td>激活Email</td>
                <td>20</td>
                <td>不是填写了Email就有点数，Email必须被验证激活</td>
            </tr>
            <tr bgcolor="pink">
                <td colspan="3" class="subtitle">*求助相关</td>
            </tr>
        </tbody>
    </table>
</body>
</html>



