@page
<link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/about.css">
<link rel="stylesheet" href="~/css/signup.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<div zyf-keyword-widget-content="">
    <div class="user-tags">
        <a zyf-keyword-widget-id="128" href="/Problem?keyword=128" data-toggle="tooltip" title="" data-original-title="已使用5次">
            <span class="badge" style="font-size:21px; background-color:rgba(51, 51, 51, 0.96875)">
                IDEA
            </span>
        </a>
        <a zyf-keyword-widget-id="452" href="/Problem?keyword=452" data-toggle="tooltip" title="" data-original-title="已使用5次">
            <span class="badge" style="font-size:20.5px; background-color:rgba(51, 51, 51, 0.9375)">
                svn
            </span>
        </a>
        <a zyf-keyword-widget-id="51" href="/Problem?keyword=51" data-toggle="tooltip" title="" data-original-title="已使用5次">
            <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.90625)">
                spring
            </span>
        </a>
        <a zyf-keyword-widget-id="449" href="/Problem?keyword=449" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:19.5px; background-color:rgba(51, 51, 51, 0.875)">
                elementUI
            </span>
        </a>
        <a zyf-keyword-widget-id="107" href="/Problem?keyword=107" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84375)">
                正则
            </span>
        </a>
        <a zyf-keyword-widget-id="630" href="/Problem?keyword=630" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:18.5px; background-color:rgba(51, 51, 51, 0.8125)">
                tomcat
            </span>
        </a>
        <a zyf-keyword-widget-id="282" href="/Problem?keyword=282" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:18px; background-color:rgba(51, 51, 51, 0.78125)">
                WPF
            </span>
        </a>
        <a zyf-keyword-widget-id="509" href="/Problem?keyword=509" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:17.5px; background-color:rgba(51, 51, 51, 0.75)">
                事件
            </span>
        </a>
        <a zyf-keyword-widget-id="260" href="/Problem?keyword=260" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.71875)">
                web
            </span>
        </a>
        <a zyf-keyword-widget-id="179" href="/Problem?keyword=179" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:16.5px; background-color:rgba(51, 51, 51, 0.6875)">
                Excel
            </span>
        </a>
        <a zyf-keyword-widget-id="256" href="/Problem?keyword=256" data-toggle="tooltip" title="" data-original-title="已使用4次">
            <span class="badge" style="font-size:16px; background-color:rgba(51, 51, 51, 0.65625)">
                2.0
            </span>
        </a>
        <a zyf-keyword-widget-id="151" href="/Problem?keyword=151" data-toggle="tooltip" title="" data-original-title="已使用3次">
            <span class="badge" style="font-size:15.5px; background-color:rgba(51, 51, 51, 0.625)">
                centos
            </span>
        </a>
        <a zyf-keyword-widget-id="206" href="/Problem?keyword=206" data-toggle="tooltip" title="" data-original-title="已使用3次">
            <span class="badge" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59375)">
                maven
            </span>
        </a>
        <a zyf-keyword-widget-id="15" href="/Problem?keyword=15" data-toggle="tooltip" title="" data-original-title="已使用3次">
            <span class="badge" style="font-size:14.5px; background-color:rgba(51, 51, 51, 0.5625)">
                smtp
            </span>
        </a>
        <a zyf-keyword-widget-id="34" href="/Problem?keyword=34" data-toggle="tooltip" title="" data-original-title="已使用3次">
            <span class="badge" style="font-size:14px; background-color:rgba(51, 51, 51, 0.53125)">
                ajax
            </span>
        </a>
        <a zyf-keyword-widget-id="196" href="/Problem?keyword=196" data-toggle="tooltip" title="" data-original-title="已使用3次">
            <span class="badge" style="font-size:13.5px; background-color:rgba(51, 51, 51, 0.5)">
                Visual
            </span>
        </a>
    </div>
</div>

