@page
<html>
<body>
    <h1 name="飞哥">HTML DOM示范</h1>
    <button id="btn" style="color:red;">点一下</button>
    <a href="http://17bang.ren">17bang</a>
    <form action="http://17bang.ren" method="get">
        <input type="password" name="click" />
        <textarea></textarea>
        <input type="text" name="username" />
        <select name="level">
            <option value="1">一级</option>
            <option value="2">二级</option>
            <option value="3">三级</option>
            <option value="4">四级</option>
            <option value="5">五级</option>
        </select>
        <button type="submit" id="btn" style="color:blue;">点我</button>
    </form>
    <div zyf-scroll-sample style="height:200px;border:1px dashed;overflow-y:scroll;">
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
        wahahah<br />
    </div>
    <script>
        let name = '您';
        //document.getElementsByTagName('h1')[0].addEventListener('click', function () {
        //    alert('hello,' + name);
        //});
        document.getElementsByTagName('h1')[0].onclick = function greet() {
            alert('hello' + name);
        }
        document.getElementById('btn').onclick = function () {
            document.getElementsByTagName('h1')[0].style.color =
                this.style.color;
        }
        document.getElementsByTagName('a')[0].onclick = function (event) {
            //event.preventDefault();
            console.log('event.type:' + event.type);
            console.log('event.target:' + event.target);
            return false;//用return代替event.preventDefault();
        }
        //点击输入框变黄色，离开输入框变白色
        document.getElementsByName('username')[0].onfocus = function () {
            if (this.style.backgroundColor === 'white') {
                this.style.backgroundColor = 'yellow';
            } else {
                this.style.backgroundColor = 'white';
            }
        }
        setInterval(document.getElementsByName('username')[0]);
        document.getElementsByName('click')[0].onkeydown = function (e) {
            console.log('code:${e.code};e.key:${e.key};');
            if (!isNaN(+e.key)) {
                console.log(e.key + '是个数字');
            }
        }
        document.getElementsByName('level')[0].onchange = function () {
            console.log(this.children[this.selectedIndex].innerText);
        }
        //验证
        document.getElementsByTagName('form')[0].onsubmit = function () {
            if (document.getElementsByName('username')[0].value === '') {
                return false;
            }
        }
        window.onbeforeunload = function (e) {
            return '关闭提示';
        };
    </script>

</body>
</html>
