@page
@model WebApplication1.Pages.NewtaskModel
@{
    ViewData["Title"] = "Newtask";
}
<html>
<head>
    <link rel="stylesheet"href="~/css/TextFile.css">
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <title>新手任务</title>
</head>
<body>

    <a href="index" 返回首页>
        <img src="~/images/logo-big.ico" alt="一起帮logo">
    </a>
    <b>
        <span>一起帮</span>
        <span>网络互助平台</span>
    </b>
    <hr />
    <a href="#"><h2>新手任务</h2></a>
    <ul style="list-style-type:square">
        <li> 填写：<a href="#">联系方式</a></li>
        <li>激活：<a href="#">Email</a></li>
        <li>邀请：<a href="#">我的小伙伴</a></li>
        <li>参加：<a href="#">新人测试</a></li>
        <li> 发布：<a href="#">第一个求助</a></li>
        <li> 尝试：<a href="#"> 第一次协助</a></li>
        <li>获得：若干<a href="#">帮帮币</a></li>
    </ul>
</body>
</html>





