@page
@model WebApplication1.Pages.NewtaskModel
@{
    ViewData["Title"] = "Newtask";
}
<html>
<head>
    <meta charset="utf-8" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">*@
    @*<script src="~/js/JavaScript.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/npm.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <title>新手任务</title>
</head>
<body>

    <a href="index" 返回首页>
        <img src="~/images/logo-big.ico" alt="一起帮logo">
    </a>
    <b>
        <span>一起帮</span>
        <span>网络互助平台</span>
    </b><!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <a href="#"><h2>新手任务</h2></a>
    <ul style="list-style-type:square">
        <li> 填写：<a href="#">联系方式</a></li>
        <li>激活：<a href="#">Email</a></li>
        <li>邀请：<a href="#">我的小伙伴</a></li>
        <li>参加：<a href="#">新人测试</a></li>
        <li> 发布：<a href="#">第一个求助</a></li>
        <li> 尝试：<a href="#"> 第一次协助</a></li>
        <li>获得：若干<a href="#">帮帮币</a></li>
    </ul>

</body>
</html>





