@page
@model WebApplication1.Pages.personaldataModel
@{
    ViewData["Title"] = "personaldata";
}
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <title>个人资料</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body style="padding-top:100px;">
    <iframe zyf-iframe src="/iframe1" id="keywords"></iframe>
    <button zyf-change-iframe type="button">改变</button>
    <script>
        $(document).ready(function () {
            $('[zyf-change-iframe]').click(function () {
                $('[zyf-iframe]').attr('src', '/iframe2');
                //$($(frames[0].document).find('p').text('源栈飞哥欢迎您'))
            })

        })
    </script>

</body>
</html>
