@page
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        #background {
            background: url(./images/打地鼠/背景.jpg);
            z-index: -100;
        }

        h2 {
            font-family: "微软雅黑";
            font-size: 30px;
            padding-left: 100px;
        }

        table td {
            width: 100px;
            height: 100px;
        }

        img {
            position: relative;
            margin-top: 31px;
            z-index: 2;
        }

        #content {
            z-index: 1;
            margin-left: 40%;
        }

        #count {
            width: 320px;
            height: 40px;
            background-color: #E8E8E8;
            padding-left: 0px;
            text-align: center;
            color: red;
            font-size: 18px;
            line-height: 30px;
            font-family: "微软雅黑";
        }

            #count .score {
                text-align: center;
                color: lightgreen;
                font-size: 20px;
                line-height: 30px;
                font-family: "微软雅黑";
            }

        #history #id {
            text-align: center;
            color: lightgreen;
            font-size: 20px;
            line-height: 30px;
            font-family: "微软雅黑";
        }

        #history {
            position: absolute;
            top: 60px;
            right: 240px;
            width: 180px;
            height: 90px;
            background-color: #E8E8E8;
            color: lightblue;
            font-size: 20px;
            line-height: 80px;
            text-align: center;
        }

        .clock {
            position: absolute;
            top: 0px;
            right: 240px;
            width: 180px;
            height: 60px;
            background-color: lightblue;
            color: red;
            font-size: 20px;
            text-align: center;
            line-height: 60px;
        }

        #cover {
            margin-top: 0px;
            z-index: 2;
            width: 800px;
            height: 600px;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            color: red;
            font-size: 30px;
            text-align: center;
            vertical-align: middle;
        }

        td {
            position: relative;
        }
    </style>
</head>
<body>
    <div id="content">
        <h2>打地鼠</h2><br />
        <table id="background">

            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>


            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>

            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>
        </table>

    </div>
    <div id="count">当前得分 ：<span id="currentscore"> 0 </span>分</div>
    <div id="history">最佳记录: <span id="bestscore"> 0 </span>分</div>
    <div class="clock"></div>
    <div id="cover" style="display:none"><span id="text"></span></div>
    <script>


        var content = document.getElementById('content');
        var cover = document.getElementById('cover');
        var image = document.getElementsByTagName('img');
        var countMouse = document.getElementById('count');
        var bestscore = document.getElementById("bestscore");
        var history = document.getElementById("history");
        var currentscore = document.getElementById("currentscore");
        var clock = document.querySelector(".clock");
        var text = document.getElementById("text");
        var preScore = 0;
        var ranK;
        var count = 0;



        preScore = localStorage.getItem("bestScore");
        console.log(preScore);
        bestscore.innerHTML = preScore;

        //让老鼠随机出现在一个坑里
        setTimeout(chulai, Math.random() * 400 + 800);

        chulai();
        function chulai() {
            rank = Math.floor(Math.random() * 9);
            var goodMole = document.createElement('img');
            goodMole.src = "/images/打地鼠/萌地鼠.png";
            goodMole.style = " position: absolute;top:-30px;left: 54;z-index:0;";
            goodMole.onclick = die;
            image[rank].parentElement.appendChild(goodMole);
            setTimeout(paole, Math.random() * 400 + 800);
        }
        function paole() {
            image[rank].parentElement.children[1].remove();
            setTimeout(chulai, Math.random() * 400 + 800);
        }
        function die() {
            image[rank].parentElement.children[1].src = 'images/打地鼠/晕地鼠.png';
            count++;
            bestscore.innerHTML = count;
        }

            //设置一个定时器
            //var seconds = 60;
            //var speed = 1000;
            //function countDown(seconds, speed) {
            //    var txt = "剩余时间：" + ((seconds < 10) ? "0" + seconds : seconds) + "秒";
            //    clock.innerHTML = txt;
            //    var timeId = setTimeout("countDown(seconds--,speed)", speed);
            //    if (seconds == 0) {
            //        //localStorage.setItem("scoreshow",count);
            //        localStorage.setItem("bestScore", preScore);

            //        clearTimeout(timeId);
            //        if (cover.style.display == "none") {
            //            //cover.style.display = "block";
            //            if (count === undefined)
            //                text.innerHTML = "当前成绩为：" + 0 + "分" + "<br/>" + "游戏结束！";

            //            else if (count == localStorage.getItem("bestScore")) {
            //                text.innerHTML = "当前成绩为：" + count + "分" + "<br/>" + "恭喜您打破纪录" + "<br/>" + "游戏结束！";
            //            }
            //            else
            //                text.innerHTML = "当前成绩为：" + count + "分" + "<br/>" + "游戏结束！";
            //        }
            //    }

            //}

            //countDown(seconds, speed);

    </script>


</body>
</html>