@page
@model WebApplication1.Pages.signupModel
@{
    ViewData["Title"] = "signup";
}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico">
    <title>注册.一起帮</title>
    <link rel="stylesheet" href="~/css/TextFile.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="container">
        <a href="#home">主页</a>
        <a href="#news">新闻</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">下拉菜单</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="index" 返回首页>
                <img src="~/images/logo-big.ico" alt="一起帮logo">
                <span>一起帮</span>
                <span>网络互助平台</span>
            </a>
        </li>
        <li><a class="pull-right" href="#">求助</a></li>
        <li><a href="#Aeticle">文章</a></li>
        <li><a href="#">APP下载</a></li>
        <li><a href="#">后台</a></li>
    </ul>
    <hr />
    <h1><b>注册</b></h1>
    <hr />
    <label>邀请人:(*必填)</label>
    <input type="text" name="uaer">
    <label>邀请码：(*必填)</label>
    <input type="text" name="validate code" />
    <label>用户名:(*必填)</label>
    <input type="text" name="uaer">
    <label>密码：(*必填)</label>
    <input type="password" name="password">
    <label>验证密码：(*必填)</label>
    <input type="text" name="validate code">
    <input type="password" name="password">
    <label>验证码：(*必填)</label>
    <div class="submit">

        <input type="submit" value="提交">
        <input class=" btn btn-default" type="reset">
        <a class=" btn pull-right" href="About US">登录</a>
    </div>


    <hr />
    <footer>
        <div>
            <a href="#">关于我们</a> |
            <a href="#">常见问题</a> |
            <a href="#">意见建议</a> |
            <a href="#">历史通知</a> |
            <a href="#" class="text-success">友情捐赠</a> |
            <a href="#" class="text-info">融资2018</a>
        </div>

        <p class="#"><a href="#">渝ICP备18007191号（备案）</a>&copy; 2019 - 首顾科技</p>
    </footer>
    <hr />
    <h2 style="color:blue">说明</h2>
    <ol type="1">
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
        <li><a href="#">了解更多</a></li>
    </ol>
</body>
</html>