@page
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div id="comtent">
        <h2>打地鼠</h2><br />
        <table id="background">
            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>
            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>
            <tr>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
                <td><img src="~/images/打地鼠/土堆.png" /></td>
            </tr>
        </table>
        

    </div>
</body>
</html>