@page
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        //$('input[type=text]').each(function (i, v) {
        //    $(v).blur(function () {
        //        if ($(v).val() == '') {
        //            $(v).css('border-color', 'red');
        //            $(v).focus();
        //        } else {
        //            $(v).css('border-color', '#ece9e9');
        //        }
        //    })
        //})
        $(document).ready(function () {
            $("#submit_button").click(function () {
                var username = $('.username').val();
                var password = $('.password').val();
                var telphone = $('.tel').val();
                if (username == '') {
                    alert("请输入账号");
                    return false;
                }
                else {
                    if (password == '') {
                        alert("请输入密码");
                        return false;
                    } else
                        if (telphone == '') {
                            alert("请输入你的电话号码");
                            return false;
                        }

                        else $('#form').submit();
                }
            });
        });
    </script>
</head>
<body>
    <form action="" method="post" class="form1" enctype="multipart/form-data">
        <div class="tab_common">
            <span class="tab_common_span">队伍名称</span>
            <input type="text" class="tab_common_input" name="team_name" required placeholder="队伍名称">

        </div>
    </form>

    <form action="/server_url" method="post" id="form">
        <!--提交地址-->
        <input type="text" name="username" class="username" placeholder="请输入您的用户名！">
        <input type="password" name="password" class="password" placeholder="请输入您的用户密码！">
        <input type="tel" name="telphone" class="tel" placeholder="请输入您的电话号码！">
        <input type="submit" class="submit_button" id="submit_button" value="登录">
        <button type="reset" class="reset_button">重置</button>
    </form>
</body>
</html>