@page
@model RazorPage.ProblemModel
@{
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@*添加Problem.cshtml，让其只显示页面本身内容（如：<h1>我是Promblem内容页</h1>），不显示_Layout.cshtml中的内容。*@

@section Description
{
    <title>@ViewData["title"]</title>
}
