@page
@model RazorPage.ProfielModel
@{
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@section Description
{
    <title>@ViewData["title"]</title>
}
<link rel="stylesheet" href="~/css/Register.css" />
<div class="container body-content">
    <div class="return-prepage">
        <a href="/Article/Category-1"><span class="fa fa-share"></span> 返回</a>
    </div>
    <div class="dualcolumns-container">
        <div class="page-header">
            <h2>
                <span class="fa fa-user-circle-o " aria-hidden="true"></span> 个人资料
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="container" style="margin-bottom: 16px;">
                    <div class="row">
                        <a class="visible-sm visible-xs pull-right" show-introduction="">
                            <span class="fa fa-question-circle"></span>
                            <span style="margin-left:4px;">
                                说明
                            </span>
                        </a>
                    </div>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label>头像：（* 仅限jpg/png/gif）</label>
                        <div zyf-usericon-show="">
                        </div>
                        <iframe id="frameFile" name="frameFile" zyf-file-upload-now="" style="display:none"></iframe>
                        <div class="input-group">
                            <input class="form-control" type="text" zyf-file-upload-text="" zyf-file-upload-path="" placeholder="页面提交时上传文件">
                            <span class="btn input-group-addon file_browser" zyf-file-upload-button="">浏览</span>
                        </div>
                        <input name="Icon" zyf-file-upload-really="" type="file" class="hide" accept="image/*">
                        <span class="field-validation-valid" data-valmsg-for="Icon" data-valmsg-replace="true"></span>
                    </div>
                </form>
                <form method="post">
                    <div class="form-group">
                        <label>性别：</label>
                        <label class="checkbox-inline">
                            <input asp-for="IsFemale" id="IsFemale" name="IsFemale" type="radio" value="True"> 男
                        </label>
                        <label class="checkbox-inline">
                            <input asp-for="IsFemale" id="IsFemale" name="IsFemale" type="radio" value="False"> 女
                        </label>
                    </div>
                    <div class="form-group">
                        <label>生日：</label>
                        <div class="input-group">
                            <select class="form-control valid" data-val="true" data-val-number="字段 BirthYear 必须是一个数字。" id="BirthYear" name="BirthYear" aria-describedby="BirthYear-error" aria-invalid="false">
                                <option value="">----</option>
                                @for (int i = 1957; i < 2021; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                            <span class="input-group-addon">年</span>
                            <select class="form-control valid" data-val="true" data-val-number="字段 BirthMonth 必须是一个数字。" id="BirthMonth" name="BirthMonth" aria-describedby="BirthMonth-error" aria-invalid="false">
                                <option value="">--</option>
                                @for (int i = 1; i < 13; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                            <span class="input-group-addon">月</span>
                            <select class="form-control valid" id="Constellation" name="Constellation" aria-invalid="false">
                                <option value="">--</option>
                                <option>白羊座</option>
                                <option>金牛座</option>
                                <option>双子座</option>
                                <option>巨蟹座</option>
                                <option>狮子座</option>
                                <option>处女座</option>
                                <option>天秤座</option>
                                <option>天蝎座</option>
                                <option>射手座</option>
                                <option>摩羯座</option>
                                <option>水瓶座</option>
                                <option>双鱼座</option>
                            </select>
                            <span class="input-group-addon">星座</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>关键字：（* 使用空格分隔）</label>
                        <div zyf-keyword-show="" style="padding-bottom:3px;">
                            <span class="badge badge-has-used" style="margin-right:5px;" zyf-keyword-new="" data-original-title="" title="">
                                操作系统
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span><span class="badge" style="margin-right:5px;" zyf-keyword-new="">
                                编程开发语言
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span>
                            <span class="badge" style="margin-right:5px;" zyf-keyword-new="">
                                Javascript
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span>
                            <span class="badge" style="margin-right:5px;" zyf-keyword-new="">
                                SQL
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span>
                            <span class="badge" style="margin-right:5px;" zyf-keyword-new="">
                                html
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span>
                            <span class="badge" style="margin-right:5px;" zyf-keyword-new="">
                                CSS
                                <small zyf-keyword-remove="" style="margin-left:5px;">
                                    <span class="fa fa-times">
                                    </span>
                                </small>
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default ">--- 1级 ---</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a data-keyword-id="163">编程开发语言</a></li>
                                    <li><a data-keyword-id="162">工具软件</a></li>
                                    <li><a data-keyword-id="164">顾问咨询</a></li>
                                    <li><a data-keyword-id="161">操作系统</a></li>
                                </ul>
                            </div>
                            <div class="input-group-btn input-group-btn-middle" zyf-keyword-dropdownlist-2="">
                                <button type="button" class="btn btn-default ">--- 2级 ---</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" zyf-keyword-dropdownlist="2">
                                    <li><a data-keyword-id="167">Linux</a></li>
                                    <li><a data-keyword-id="165">Windows</a></li>
                                    <li><a data-keyword-id="168">Android</a></li>
                                    <li><a data-keyword-id="166">Unix</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="自定义关键字，使用空格分隔" zyf-keyword-input="">
                        </div>
                        <input data-val="true" data-val-required="* 关键字不能为空" id="Keywords" name="Keywords" type="hidden" value="操作系统 编程开发语言 Javascript SQL html CSS" zyf-keyword-submit-value="">
                        <span class="field-validation-valid" data-valmsg-for="Keywords" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label>自我介绍：</label>
                        <textarea class="form-control" cols="20" data-val="true" data-val-length="* 自我介绍的长度不能大于255" data-val-length-max="255" id="SelfDescription" name="SelfDescription" placeholder="简单的介绍一下自己吧，不超过255字" rows="5" style="margin: 0px -14px 0px 0px; height: 173px; width: 375px;"></textarea>
                        <span class="field-validation-valid" data-valmsg-for="SelfDescription" data-valmsg-replace="true"></span>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn btn-primary loading">提交</button>
                    </div>
                </form>

                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="introductionLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="introductionLabel"></h4>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 visible-lg visible-md">
                <div page-introduction="">
                    <h3 class="text-info" style="margin-bottom: 20px;"><span class="fa fa-question-circle "></span> 说明</h3>
                    <ol class="page-introduction-ol" zyf-page-introduction-body="">

                        <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
                        <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
                        <li>自我介绍的字数不要超过255字。</li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <a zyf-global-feedback="" href="/Contact/Us" style="bottom: 132px; right: 348px;" class="feedback flag text-center">
        <span class="fa fa-question-circle-o"></span><br>帮助
    </a>
    <a zyf-global-feedback="" href="/Suggest/New" style="bottom: 80px; right: 348px;" class="feedback flag text-center">
        <span class="fa fa-comments-o"></span><br>反馈
    </a>
    <hr>
    <footer>
        <div>
            <a href="/About/Us">关于我们</a> |
            <a href="/FAQ">常见问题</a> |
            <a href="/Suggest">意见建议</a> |
            <a href="/Notice">历史通知</a> |
            <a href="/Donate" class="text-success">友情捐赠</a> |
            <a href="/About/Fund" class="text-info">融资2018</a>
        </div>
        <div>
            友情链接：
        </div>
        <p class="pull-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>© 2020 - 首顾科技</p>
    </footer>
</div>