@page
@model RazorPage.Pages.WorkModel
@for (int i = 1; i <= 4; i++)
{
    for (int k = 1; k <= 4 - i; k++)
    {
        <span>&nbsp;</span>
    }
    for (int j = 1; j <= 2 * i - 1; j++)
    {
        if (i % 2 == 0)
        {
            <span class="xy" style="color:red">i</span>

        }
        else
        {
            <span class="xyz" style="color:blue">i</span>
        }
    }
    <br />
}
<pager path="/Article" pageIndex="2">@DateTime.Now</pager>