.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.h2-inline {
    font-size: 30px;
}

.widget {
    border: 1px dashed #eee;
    padding: 15px;
    margin-bottom: 30px;
    word-break: break-all;
    background-color: #fff;
}

.user-tags span {
    margin: 5px 20px 5px 0;
    word-break: keep-all !important;
}

element.style {
    bottom: 132px;
    right: 147.5px;
}

.flag {
    z-index: 100;
    position: fixed;
    background-color: rgba(128,255,212,.7);
    padding: 5px 7px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-content {
    background-color: #fff;
    padding: 30px 15px 20px 15px;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table.table-none-border > tbody > tr > td {
    padding: 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
}

table.table-none-border {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse !important;
}

.order-list .item-1 {
    background-color: #000;
}

.order-list .item {
    background-color: #a9a9a9;
}

.order-list .item-3 {
    background-color: gray;
}

.order-list .item-2 {
    background-color: #696969;
}

.order-list .order-tag {
    /* width: 18px; */
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
.nav-tabs.nav-justified > li > a {
    /* margin-right: 0; */
    border-radius: 4px;
    border: 1px dashed #ddd;
}
.nav-tabs.nav-justified > li {
    background-color: #CCFFFF;
}