@page
@model _17bnag.Plan.NewModel
@{
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@section Description
{
    <title>@ViewData["title"]</title>
}
<link rel="stylesheet" href="~/css/Register.css" />
<div class="container body-content">
    <div class="dualcolumns-container">
        <div class="page-header">
            <h2>
                <span class="fa fa-edit" aria-hidden="true"></span> 发布新目标
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="container" style="margin-bottom: 16px;">
                    <div class="row">
                        <a class="visible-sm visible-xs pull-right" show-introduction="">
                            <span class="fa fa-question-circle"></span>
                            <span style="margin-left:4px;">
                                说明
                            </span>
                        </a>
                    </div>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="PlanNewOn.Title"></label>
                        <input class="form-control input-validation-error" asp-for="PlanNewOn.Title" placeholder="简明扼要，多个目标请分开发布" type="text">
                        <span class="field-validation-error"><span asp-validation-for="PlanNewOn.Title" style="color:red"></span></span>
                    </div>
                    <div class="form-group">
                        <label>详细说明：</label>
                        <textarea class="form-control" placeholder="补充你认为需要说明的其他信息。比如：求温柔/凶狠好心人，最好同城/校……" rows="4" style="margin: 0px 12px 0px 0px; width: 347px; height: 106px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlanNewOn.KeywordLabel"></label>
                        <input class="form-control input-validation-error" asp-for="PlanNewOn.KeywordLabel" placeholder="多个标签之间请用空格分开" type="text">
                        <span class="field-validation-error"><span asp-validation-for="PlanNewOn.KeywordLabel" style="color:red"></span></span>
                    </div>
                    <div class="form-group">
                        <label>开始执行（必填）：</label>
                        <input class="form-control valid" placeholder="默认为今天" type="text">
                        <span class="field-validation-valid"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="/FAQ/Plan#quit" zyf-faq-remind=""><span class="fa fa-question-circle text-info"></span></a>
                            目标结束（必填）：
                        </label>
                        <input class="form-control valid" placeholder="默认为一年后" type="text">
                        <span class="field-validation-valid"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="/FAQ/Plan#leave"><span class="fa fa-question-circle text-info"></span></a>
                            （每周）交作业时间：
                        </label>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>一</th>
                                    <th>二</th>
                                    <th>三</th>
                                    <th>四</th>
                                    <th>五</th>
                                    <th>六</th>
                                    <th>日</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="DaysInWeek" value="1" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="2" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="3" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="4" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="5" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="6" checked=""></td>
                                    <td><input type="checkbox" name="DaysInWeek" value="7" checked=""></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="field-validation-error" id="atLeastOneDay"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="/FAQ/Plan#leave" zyf-faq-remind=""><span class="fa fa-question-circle text-info"></span></a>
                            每周可请假：
                        </label>
                        <div class="input-group input-group-combined">
                            <select class="form-control valid">
                                <option selected="selected">0</option>
                                @for (int i = 1; i < 7; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                            <span class="input-group-addon">天</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="/FAQ/Plan#proof"><span class="fa fa-question-circle text-info"></span></a>
                            证明：
                        </label>
                        <input class="form-control" placeholder="证据的文字描述" type="text">
                        <br>
                        <input class="form-control" placeholder="可以访问的网址，详见说明" type="text">
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="/FAQ/Plan#join"><span class="fa fa-question-circle text-info"></span></a>
                            好心人最多：
                        </label>
                        <div class="input-group input-group-combined">
                            <select class="form-control valid">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="input-group-addon">人</span>
                        </div>
                    </div>
                    <div class="form-group" style="padding-bottom:20px">
                        <label asp-for="PlanNewOn.PunishCount">
                            <a href="/FAQ/Plan#punish"><span class="fa fa-question-circle text-info"></span></a>
                            （<a href="/Money/Owner">现有<span class="credit">6</span>枚</a>
                            <small class="fa fa-refresh text-info"></small>
                            <input type="hidden" value="6">）
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>
                            </span>
                            <input class="form-control input-validation-error" asp-for="PlanNewOn.PunishCount" placeholder="正整数，建议10枚以上" type="text">
                            <span class="input-group-addon">枚</span>
                        </div>
                        <span asp-validation-for="PlanNewOn.PunishCount" style="color:red"></span>
                        <a href="/FAQ/Money#gain" zyf-faq-remind="" class="pull-right"><span class="fa fa-question-circle"></span> 如何获得“帮帮币”</a>
                        <span class="field-validation-error"><span></span></span>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <label class="checkbox-inline" style="margin-left:16px;">
                            <input type="checkbox" name="Continue" value="true" checked="">继续
                        </label>
                    </div>
                </form>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="introductionLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="introductionLabel"></h4>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 visible-lg visible-md">
                <div page-introduction="">
                    <h3 class="text-info" style="margin-bottom: 20px;"><span class="fa fa-question-circle "></span> 说明</h3>
                    <ol class="page-introduction-ol" zyf-page-introduction-body="">

                        <li>
                            简单来说，“一起督促吧”就干这三件事：
                            <ul>
                                <li>
                                    发布一个目标，押上一堆
                                    <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                        <span class="iconfont icon-money"></span> 帮帮币
                                    </a>

                                </li>
                                <li>
                                    每天交作业。如果未交作业，“帮帮币”没了，(；′⌒`)
                                </li>
                                <li>
                                    一群人互相督促，交上来的作业得验收/拒收，未交作业的“帮帮币”大家抢！
                                </li>
                            </ul>
                        </li>
                        <li>
                            管用不管用？你试试看啊。我之前用过（现在也在用：<a href="/Plan/Show/1#plan_detail_1">每天一篇博客</a>），还是蛮不错的。因为：
                            <ul>
                                <li>
                                    会有压力。当前，前提是你要设置让你足够“肉痛”的<a href="/FAQ/Plan#punish">未交作业惩罚</a>
                                </li>
                                <li>
                                    有伴。人是一种社会动物，很多时候我们是被寂寞打败的。一件不是那么容易坚持的事，几个人一起做，就不显得那么难了——当然，要志同道合，拖后腿的损友除外。
                                </li>
                                <li>
                                    有成就感。“一起督促吧”会记录下你每一天的完成情况，一段时间回头看看，还是蛮有成就感的。
                                </li>
                            </ul>
                        </li>
                        <li>
                            目标应明确独立，多个目标请分开发布。比如你虽然是同时既想健身又想学英语，但还是将其发布为两个个目标为佳。
                        </li>
                        <li>
                            标题以简明扼要为佳，比如：每天跑步三十分钟。
                        </li>
                        <li>
                            详细说明和标签都有助于你别人了解你的目标，帮助你找到最“合适”的“好心人”。
                        </li>
                        <li>
                            建议你设置一个目标完成的时间，这样能阶段性的检查总结，更有成就感。
                        </li>
                        <li>
                            我们按“周”来计划目标的具体完成步骤（任务）。比如你计划每周星期一到星期五学习、周末休息，你就只需要勾选周一到周五即可，周末不要勾选。系统会自动忽略你未勾选的天数。而所有已勾选的天数，你都应该及时的“交作业”并由“好心人”验收，否则你的任务记录会判罚为“未交作业”。
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <a zyf-global-feedback="" href="/Contact/Us" style="bottom: 132px; right: 339.5px;" class="feedback flag text-center">
        <span class="fa fa-question-circle-o"></span><br>帮助
    </a>
    <a zyf-global-feedback="" href="/Suggest/New" style="bottom: 80px; right: 339.5px;" class="feedback flag text-center">
        <span class="fa fa-comments-o"></span><br>反馈
    </a>
    <hr>
    <footer>
        <div>
            <a href="/About/Us">关于我们</a> |
            <a href="/FAQ">常见问题</a> |
            <a href="/Suggest">意见建议</a> |
            <a href="/Notice">历史通知</a> |
            <a href="/Donate" class="text-success">友情捐赠</a> |
            <a href="/About/Fund" class="text-info">融资2018</a>
        </div>
        <div>
            友情链接：
        </div>
        <p class="pull-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>© 2020 - 首顾科技</p>
    </footer>
</div>
